.number-text {
    font-family: 'Cormorant Garamond', serif;
    color: #45A29E;
    margin: auto;
    width: 50%;
    height: auto;
    font-weight: lighter;
    font-size: 50px;
    padding-top: 25px;
}