.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*height: auto;*/
    margin-top: 6%;
    margin-left: 95px;
}

.number-container {
    display: flex;
    /*border: 1px black solid;*/
    width: 27%;
    align-items: center;
    justify-content: center;
}

.info-container {
    display: flex;
    /*border: 1px black solid;*/
    width: 40%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.number-text {
    font-family: 'Cormorant Garamond', serif;
    color: #C5C6C7;
    width: auto;
    height: auto;
    font-weight: lighter;
    font-size: 40px;
}

.info-text {
    font-family: 'Cormorant Garamond', serif;
    color: #C5C6C7;
    width: auto;
    height: auto;
    font-weight: lighter;
    font-size: 30px;
}

.list-container {
    margin-left: 100px;
    margin-top: 10px;
}

