.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 20px;
    position: relative;
    top: 11rem;
}
.quote {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.7rem;
    font-weight: lighter;
    color: #C5C6C7;
    padding-left: 3rem;
}

.main-info-question {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    color: #66FCF1;
    text-align: center;

}