.navbar {
    padding-top: 50px;
}

.navbar-collapse {
    padding-left: 1220px;
}

.drp-menu {
    padding-left: 20px;
}

.brand {
    color: #66FCF1;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    padding-left: 240px;
}
.brand:hover {
    display: none;
}

.nav-link {
    color: #C5C6C7;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    padding-bottom: 3px;
}
.nav-link:hover {
    color: #66FCF1;
}